@font-face {
  font-family: 'Manrope';
  src: url('../public/manrope-latin.woff2') format('woff2');
  font-style: normal;
  font-weight: 200 800;
  font-display: block;
}

* { box-sizing: border-box; }
